{
  "extends": "@riiid/eslint-config",
  "rules": {
    "import/no-unresolved": "off",
    "no-restricted-imports": "off",
    "no-warning-comments": [
      0,
      {
        "terms": [
          "todo",
          "fixme"
        ],
        "location": "start"
      }
    ]
  },
  "ignorePatterns": [
    "packages/**/lib/**/*",
    "packages/model/codegen/**/*",
    "packages/model/src/qti2_2.ts"
  ]
}